@()
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Api</title>
    </head>
    <body>
        <p>Bienvenido a la Api de DPizza, Aquí solo puedes acceder a los siguientes puntos de consumo:</p>
        <ul>
            <li>
                GET     /sucursales.json
            </li>
            <li>
                GET     /sucursales.json/:id
            </li>
            <li>
                GET    /categorias.json
            </li>
            <li>
                GET    /productos.json/:id
            </li>
        </ul>
    </body>
</html>

